<div class="meals-drinks-list-container">
    <h3>All Drinks List</h3>

  <% if (drinks && drinks.length) { %>
  <ol>
    <% drinks.forEach(function(d) { %>
    <li>
      <a href="/drink/<%= d.idDrink %>"><%= d.strDrink %></a>
    </li>
    <% }) %>
  </ol>
  <% } else { %>
  <p>No drinks available.</p>
  <% } %>
</div>
