<div class="meals-drinks-list-container">
  <h3>All Meals List</h3>
  <div>
    <% if (meals && meals.length) { %>
    <% meals.forEach(function(m) { %>
      <img src="<%= m.strMealThumb %>" alt="<%= m.strMeal %>" style="width:100px;height:100px;"><br>
      <a href="/meal/<%= m.idMeal %>"><%= m.strMeal %></a><br>
    <% }) %>
  <% } else { %>
  <p>No meals available.</p>
  <% } %>
  </div>
</div>
